body{
    margin: 0;
    background-image: url("http://mumstudents.org/cs472/2018-05-RS/Labs/2/background.gif");
}
h1backgroundimage {
    text-align: center;
    background-image: url('./images2/bannerbg.png');
    height: 50px;
}
green{
    border-style: solid;
    background-color: white;
    border-color:white;
    border-width: 10px;
}
red{
    text-align: right;
    background-color: #A8F0F0;
   }
   home{
    vertical-align: middle;
   }
redb{
    margin: 5px;
    font-size: 14pt;
}
date{
    border-color:purple;
    border-bottom: dashed 2px;
}

friends{
    border-style: solid;
    border-color: rgb(49, 218, 218);;
    border-width: 4px;
    margin: 7px 0px 0px 0px; 
    text-align: left; 
    background-color: #A8F0F0;
    border-radius: 15px;

    float: left;
    width: 23%;
}

blue{
    border-style: solid;
    border-color: #C2E9E9;
    border-width: 4px;
    margin: 10px 0px 0px 0px;
    text-align: justify;
    overflow: auto;
    padding: 5px;
    background-color: rgb(217, 238, 238); 
    border-radius: 15px;
    margin-left: 20%;
}
/* *:hover{
    color: yellow;
} */
image{
    float:right;
}
validator{
    text-align: left;
}
 blueb{
    border-style: solid;
    border-color:blue;
    border-width: 5px;
} 