body{
    margin: 0;
    background-image: url("../images/background.png");
}
.h1backgroundimage {
    text-align: center;
    background-image: url('../images/background.png');
    height: 50px;
}

.box {
    panding:10px;
    background-color:#E8DC9B;
    font-weight: 8;
    border-color: gray;
    border-radius: 10px;
    border-width: 2px;
    pading: 10px;
    border: 2px solid gray;    
}

.boxtest{
    display: flex;
    border-top-left-radius: 16px;
    padding-left: 12px;
    height: auto;
    min-height: 100% !important;
    background: local repeat-x url("../images/rbg.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
    align-items: center;
}

.hover{
    color: yellow;
} 
.image{
    float:right;
}
validator{
    text-align: left;
}

.wrapper{
    /* border: solid 4px gray ; */
    border-radius: 20px;
    width: 800px; 
    margin: auto; 
    border: 2px solid gray; 
    height: 1112px;
 
}
.green{
    background-color: rgb(135, 196, 135);
}
#headerimage{
    width: 100%;

}
#movienameheader{
    text-align: center;
}

.vali{
    display: inline;
    right: 5px;
    bottom: 5px;
    position: fixed;
   
}

.Two{
    margin: 3mm;
    height: 860px;
}


